<div class="container">
    <h1>Este es mi primer proyecto</h1>
    <h2>{{ welcome}}</h2>
    
    <ul>
      @for (task of tasks; track $index) {
        <li>
          {{ task }}
        </li>
      }
    </ul>
    <hr>
    
    <img [src]="img" alt=""><br> <!-- Property Binding  -->
    
    <!-- Event Binding: click y doble click -->
    <button (click)="clickHandler()">Click me</button><br>
    <button (dblclick)="clickHandler()">Double me</button>
    <p>(change)</p>
    <input type="text" [value]="welcome" (change)="changeHandler($event)">
    <p>(keydown)</p>
    <input type="text" [value]="welcome" (keydown)="keydownHandler($event)">
    <p>(keydown + shift t)</p>
    <input type="text" [value]="welcome" (keydown.shift.t)="clickHandler()">
    <h1>Signal {{ string() }}</h1>
    <input type="text" [value]="string()" (keydown)="keydownSignalHandler($event)">
    <p>Total : {{ Array().length }}</p>
    <ul>
      <li *ngFor="let array of Array(); index as i">
        {{ i }} {{ array }}
      </li>
    </ul>
    <div *ngIf="1 !== 1">
      <p>My container</p>
    </div>
    <div *ngIf="string() == 'Hello word'">
      <p>My container2</p>
    </div>
    <input type="number" [value]="person().age" (change)="changeAge($event)">
    <div *ngIf="person().name == 'wilmar'">
      <p>Hola yo me llamo wilmar</p>
      <p *ngIf="person().age >= 18; else elseBlock">
        Y soy mayor de edad
      </p>
      <ng-template #elseBlock>
        Y no soy mayor de edad
      </ng-template>
    </div>
    <br>
    <input type="text" [value]="person().name" (change)="changeName($event)">
    <div [ngSwitch]="person().name">
      <p *ngSwitchCase="'wilmar'">Hola wilmar</p>
      <p *ngSwitchCase="'pablo'">Hola pablo</p>
      <p *ngSwitchCase="'camilo'">Hola camilo</p>
      <p *ngSwitchCase="'miguel'">Hola miguel</p>
      <p *ngSwitchDefault>Hola desconocido</p>
    </div>
    <!-- Form reactivo --> <br>
    <input type="color" [formControl]="colorCrl">
    <p> Color: {{ colorCrl.value }} </p>
    <svg>
      <g>
        <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCrl.value">
        </rect>
      </g>
    </svg>
    <br>
    <input type="number" [formControl]="widthCrl">
    <span class="box" [style.width.px]="widthCrl.value"></span>
    <br>
    <label for="name"><strong>Nombre: <span class="message-error" [class.err]="nameCrl.invalid">*</span></strong></label><br>
    <input type="text" [formControl]="nameCrl">
</div>