
.container{
    padding: 3rem;
}

.box{
    height: 10px;
    display: block;
    background-color: red;
}

.message-error{
    color: red;
    opacity: 0;
    transition: all linear .5s;
}

.message-error.err{
    opacity: 1;
}